input:focus {
    outline: none;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
}

@media screen and (max-width: 760px) {
    form {
        width: 100%;
    }
}

form > div {
    margin-bottom: 30px;
}

form > div > p {
    margin-bottom: 5px;
}

form > div > input {
    letter-spacing: 1px;
    padding: 5px;
    border: 0;
    background: whitesmoke;
    border-bottom: 1px solid silver;
    width: 100%;
    color: gray;
}

form > div > select {
    letter-spacing: 2px;
    padding: 5px;
    background: whitesmoke;
    border: 1px solid silver;
    width: 100%;
    color: #60373E;
}

form > div > select:focus {
    outline: none;
}

form button {
    border: 0;
    margin-top: 10px;
    padding: 10px 30px;
    background: silver;
    border-radius: 28px;
    color: white;
}

form > p:last-of-type {
    text-align: center;
    padding-top: 5px;
    display: table;
    width: 100%;
    color: white;
}

form > p:last-of-type > input {
    border: 0;
    padding: 10px 50px;
    background: silver;
    border-radius: 28px;
}