.logo {
    max-height: 90px;
    width: auto;
    float: left;
}
.navbar {
    box-shadow: none !important;

}
header{
    border-bottom: #00bcd4 4px solid;
}
.nav-top{
    background-color: #69B0AC;
    height: 20px;
    width: 100%;
}
nav li a{
    font-weight: 500;
    color: #999 !important;
}

nav li a:hover, nav li a:focus{
    background-color: inherit;
    color: #00bcd4 !important;
    transition: color 700ms linear;
}