.header-top{
    background-color: #A04B48;
    height: 25px;
    width: 100%;
}

.logo {
    height: 90px;
    float: left;
}

ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    padding: 15px 15px 5px 15px;;
    float:left;
}
ul li a{
    font-weight: 600;
    font-size: 14px;
    color: #999;
    text-decoration: none;
}
ul li a:hover{
    color: #804600;
}


.progress{
    height: 25px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}