<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Tomcat Sample Application</display-name>

    <!-- Index Serlvet -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>tw.ntu.lib.web.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index.do</url-pattern>
    </servlet-mapping>

    <!-- Insert File-->
    <servlet>
        <servlet-name>InsertFile</servlet-name>
        <servlet-class>tw.ntu.lib.web.InsertFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InsertFile</servlet-name>
        <url-pattern>/Insert.do</url-pattern>
    </servlet-mapping>

    <!-- Insert File-->
    <servlet>
        <servlet-name>AcctMGMT</servlet-name>
        <servlet-class>tw.ntu.lib.web.AccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AcctMGMT</servlet-name>
        <url-pattern>/MGMT.do</url-pattern>
    </servlet-mapping>

    <!-- Register user -->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>tw.ntu.lib.web.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register.do</url-pattern>
    </servlet-mapping>

    <!-- Login validate -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>tw.ntu.lib.web.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>

    <!--  Logout  -->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>tw.ntu.lib.web.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>

    <!-- Import function -->
    <servlet>
        <servlet-name>Import</servlet-name>
        <jsp-file>/import.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Import</servlet-name>
        <url-pattern>/Import</url-pattern>
    </servlet-mapping>

    <!-- Show history -->
    <servlet>
        <servlet-name>History</servlet-name>
        <jsp-file>/history.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History.do</url-pattern>
    </servlet-mapping>

    <!-- Login page -->
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Login</welcome-file>
        <welcome-file>Index.do</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>LogoURL</param-name>
        <param-value>http://www.lib.ntu.edu.tw/sites/default/files/NTUlibrary-01_0_0.png</param-value>
    </context-param>

    <listener>
        <listener-class>tw.ntu.lib.web.ContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>tw.ntu.lib.web.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>